html {
    margin: auto;
    padding: 0;
    
    font: normal 100%/1.4 'Lato', sans-serif;
}
.container {
    width: 960px;
    margin: auto;
    clear: both;
}
.current {
    
    color: #ffffff;
    border-top: #6ac170;  
    border-top-style: double; 
    padding: 5px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
   display: inline;
    margin: 5px;
    font-weight: 700;
}
header {
    margin: auto;
    height: 70px;
    background-color: #2F3234;
    color: #ffffff;
}

#logo {
    font-size: 28px;
    margin-top: -5px;
}

nav ul{
    margin-top: -35px;
    margin-left: 700px;
}
a {
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
}
.hero {
    background-color: #6ac170;
    height: 370px;
    margin-bottom: 55px;
    margin-top: -16px;
}
.boxs {
    width: 31%;
    height: 230px;
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: black;
    float: left;   
}

.ww-bottom-row {
    margin-bottom: 75px;
    
}

.ww-about {
    width: 42%;
    padding: 20px;
    height: 490px;
    float: left;
    
}
.ww-contact{
    width: 42%;
    padding: 20px;
    height: 490px;
    clear: both;
    
}

footer {
    height: 100px;
    background-color: #2F3234;
    margin: auto;
    color: #ffffff;
}