<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>The Green Portfolio</title>
        <link href="{{site.baseurl}}/css/common.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
    </head>
    
    <body>
        <header>
            <div class="container">
                <h1 id="logo">William Weekes</h1>
                {% include nav.html %}
            </div>
        </header>
        <section>
            <div class="hero">
                <div class="container">
                    <p>I am writing  something here so I can have peace.</p>
                </div>
                <div class="ribbed"></div>
            </div>           
        </section>
        <section>
            <div class="showcase">
                <div class="container">
                    {{content}}
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="ww-about">
                    <h3>About</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum dapibus tincidunt sem sit amet commodo. Integer ex tortor, luctus nec cursus ut, viverra sed dui. In hac habitasse platea dictumst. Aenean consectetur nisi vitae diam congue finibus. Duis dictum augue vitae nisi blandit mollis. Curabitur vulputate mollis interdum. Fusce varius auctor erat. Aliquam feugiat id augue vel facilisis.</p>
                </div>
                <div class="ww-contact">
                    <h3>Contact</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum dapibus tincidunt sem sit amet commodo. Integer ex tortor, luctus nec cursus ut, viverra sed dui. In hac habitasse platea dictumst. Aenean consectetur nisi vitae diam congue finibus. Duis dictum augue vitae nisi blandit mollis. Curabitur vulputate mollis interdum. Fusce varius auctor erat. Aliquam feugiat id augue vel facilisis.</p>
                    <button>Email Me</button>
                </div>
                
            </div>
        </section>
        
        <footer>
            <div class="container">
                {% include nav.html %}
                <p>&copy; 2007 - 2014 William J Weekes Jr.</p>
            </container>
        </footer>
    </body>
</html>