<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>The Green Portfolio</title>
    </head>
    
    <body>
        <header>
            <h1>William J Weekes Jr</h1>
            <nav>
                <ul>
                    <li><a href="{{site.baseurl}}/index.html">Portfolio</a></li>
                     <li><a href="{{site.baseurl}}/about.html">About</a></li>
                     <li><a href="{{site.baseurl}}/blog.html">Blog</a></li>
                </ul>
            </nav>
        </header>
        {{content}}
    </body>
</html>